
	<div class="row-fluid">
		<div class="span12">
			<div id="section1">	
			</div>	
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<div id="section2">	
				<div class="container">
					<div class="row-fluid">
						<div class="span12">
							<div id="bar-1">	
								<div class="bar-1-heading">
									Bridal Savings Bank
									</div>
							</div>	
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12">
							<div id="">	
							</div>	
						</div>
					</div>
					
				</div>
			</div>	
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
			<div id="section3">	
			</div>	
		</div>
	</div>
	
		