// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#section1{
	height:80px;
	background-color:#F2F2F2;
}

#section2{
	background-color: white;
	height:800px;
	border-top:1px solid lightgray;
}


#bar-1{
	border:1px solid lightgray;
	margin-top:100px;
	background-color:#54B0BD;
	height:600px;
	width:100%;
}

.bar-1-heading{
	font-family: 'Comfortaa', cursive;
	font-size:48px;
	color:white;
	text-align:center;
	margin-top:40px;
}

#section3{
	border-top:1px solid lightgray;
	background-color:#F2F2F2;
	height:200px;
}

#bar-2{
	border-top:1px solid lightgray;
	background-color:#05AF64;
	height:800px;
}
